# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class

# App Specific
# data/vector_store/  <-- REMOVED TO ALLOW DEPLOYMENT
# data/raw/
**/node_modules/
dist/
*.npy
*.jsonl
!data/processed/fund_faq_data.json

# Assets
!groww-chat-ui/src/assets/dashboard.png
